@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-brand: oklch(38.77% 0.09082 241.284);
  --color-brand-opacity: oklch(33.63% 0.0761 240.38 / 0.89);
  --sidebar-background: oklch(44.3% 0.11 240.79);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --color-brand: oklch(38.77% 0.09082 241.284);
    --color-brand-opacity: oklch(33.63% 0.0761 240.38 / 0.89);

  }
}

.bg-sidebar {
  background-color: var(--sidebar-background);
}

/* Class-based dark mode (used by ThemeContext toggling `document.documentElement.classList`) */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-brand: #0f1224;
  --color-brand-opacity: #181c32;

  .bg-sidebar {
    background-color: var(--color-brand);
  }

}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}